@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Ethiopic:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
h1 {
  text-decoration: underline;
}

.flex-container {
  display: flex;
}

.flex-container > div {
  margin: auto;
  font-family: "Roboto";
  padding: 1rem;
  font-size: 2rem;
  color: #207fd8;
}
body {
  background: linear-gradient(to bottom, #7bf9f9, #8888f7);
  background-repeat: no-repeat;
  height: 100vh;
}
